<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
</head>
<body class="container">

    <header>
        <%- include ('../partials/header') %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>List of users</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Date of birth</th>
                        <th>Create Time</th>
                    </tr>
                </thead>

                <tbody>
                        <tr>
                            <td><%= users[0].count %></td>
                            <td><%= users[0].count %></td>
                            <td><%= users[0].count %></td>
                            <td><%= users[0].count %></td>
                        </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <%- include ('../partials/footer') %>
    </footer>

</body>
</html>
